$grid-columns: 12;

$sm: 48rem;
$md: 62rem;
$lg: 75rem;

.masonry {
  column-count: 3;
  column-gap: 0;
}

.masonry-brick {
  margin: 2rem 1rem -8px 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  > [class*="col-"] {
    display: block;
    padding: 1rem;
  }
}

@for $i from 1 through $grid-columns {
  .col-xs-#{$i} {
    flex-basis: $i / $grid-columns * 100%;
    max-width: $i / $grid-columns * 100%;
  }
}

@media (min-width: $sm) {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@media (min-width: $md) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@media (min-width: $lg) {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      flex-basis: $i / $grid-columns * 100%;
      max-width: $i / $grid-columns * 100%;
    }
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-template-rows: auto;
    > [class*="col-"] {
      margin: 0;
      max-width: 100%;
    }
  }

  @for $i from 1 through $grid-columns {
    .col-xs-#{$i} {
      grid-column-start: span #{$i};
      grid-column-end: span #{$i};
    }
  }

  @media(min-width: $sm) {
    @for $i from 1 through $grid-columns {
      .col-sm-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }

  @media(min-width: $md) {
    @for $i from 1 through $grid-columns {
      .col-md-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }

  @media(min-width: $lg) {
    @for $i from 1 through $grid-columns {
      .col-lg-#{$i} {
        grid-column-start: span #{$i};
        grid-column-end: span #{$i};
      }
    }
  }
}
