// Light Mode
$bg: #eee;
$primary-text: #000000;
$secondary-text: #999aa4;
$accent-text: #bbb;
$block-bg: rgba(240, 240, 240, 0.5);
$link-text: rgba(0, 0, 0, 0.4);
$hover: #a6a640;
$footer-text: rgba(0, 0, 0, 0.4);
$border-color: rgba(0, 0, 0, 0.05);
// Dark Mode
$dark-bg: #111111;
$dark-primary-text: #ffffff;
$dark-link-text: rgba(240, 240, 240, 0.4);
$dark-border-color: rgba(255, 255, 255, 0.1);
