// Imports
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/grid';

// Globals
* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background: $bg;
  color: $primary-text;
}

h1, h2, h3, h4 {
  color: $primary-text;
}

figcaption, figure, footer, header, main, nav, section {
  display: block;
}

a {
  color: $primary-text;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  &:active,
  &:hover {
    outline-width: 0;
  }
}

img {
  border-style: none;
  max-width: 100%;
}

p,
figure {
  padding: 0;
  margin: 0 0 1.45rem 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  li {
    margin: 0 2rem 0 0;
  }
}

.container {
  max-width: 76rem;
  margin: auto;
  width: 100%;
  padding: 0 1rem;
}

.container-fluid {
  margin: auto;
  width: 100%;
  padding: 0 1rem;
}

.content {
  padding: 1rem 0;
}

nav .grid > [class*="col-"] {
  padding: 0 1rem;
}

nav {
  padding: 1.25rem 0;
  width: 100%;
  span {
    color: $primary-text;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    li {
      &:last-child {
        margin: 0;
      }
      a {
        position: relative;
        display: inline-block;
        overflow: hidden;
        color: $link-text;
        &::before {
          @include pseudo();
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0.125rem;
          background-color: $primary-text;
          visibility: hidden;
          transform: translateX(-100%);
          transition: all 0.3s ease;
        }
        &:hover {
          color: $primary-text;
          &::before {
            visibility: visible;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

.media {
  display: flex;
  align-items: center;
}

.logo-content {
  position: relative;
}

.block {
  min-height: 140px;
  backdrop-filter: blur(25px) saturate(120%);
  backface-visibility: hidden; // should fix flickering
  -webkit-backface-visibility: hidden;
  background: $block-bg;
  border-radius: 1.5rem;
  padding: 1.5rem !important;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  h4 { margin: 0 0 0.4rem; }
  p { margin: 0; }
  .block-image {

    img {
      border-radius: 1.2rem;
      width: 100%;
      height: 100%;
      max-height: 300px;
    }
  }
  .block-content {
    //margin-left: .5rem;
  }
  &.square {
    min-height: 400px;
  }
  &:hover {
    transform: scale(1.05) translateZ(0px);
  }
}

figure {
  margin: 0;
  figcaption {
    p {
      margin: 0 0 3rem 0;
      color: $secondary-text;
    }
  }
}

footer {
  padding: 1rem 0;
  text-align: center !important;
  p {
    color: $footer-text;
    font-size: 16px;
  }
}

.social {
  margin-bottom: 1.25rem;
  li {
    display: inline-block;
    margin: 0 1.75rem 0 0;
  }
}

@media (min-width: $sm) {
  nav .grid > [class*="col-"] {
    padding: 0.25rem 1rem;
  }

  nav ul {
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  ul li {
    margin: 0 2.5rem 0 0;
  }

  .block {
    .block-image {
      max-height: 90px;
    }
  }
}

@media (min-width: $md) {
  body {
    font-size: 1.2rem;
  }
  nav {
    padding: 2rem 0;
  }

  h1 {
    font-size: 3rem;
    max-width: 50rem;
  }

  h2 {
    margin-top: 0.85rem;
    font-size: 2.125rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  .block {
    .block-image {
      width: 100%;
      max-height: 180px;
    }
  }
}
